{% extends 'base.html' %}

{% block head %}
    <title>About Us</title>
{% endblock%}
{% block body %}
    <div class="container">
    </br>
        <div class="jumbotron">
            <h1>About Us</h1>
            <p> This is Charan Sandeep Meesala. I am studying in Rajiv Gandhi University of Knowledge and Technologies,Ongole campus in the stream of Computer Science & Engineering . I built this application just to bring about a change in India and help people solving the problems. Special thanks to Riktam Technology for providing this opportunity</p>
        </div>
        <div class="jumbotron">
            <h1>Contact Us</h1>
            <p>Name: Charan Sandeeeep Meesala</p>
            <p>Contact No: +91-8374984486</p>
            <p>Email: o170609@rguktong.ac.in</p>
            <p>Location: Ongole.523225</p>
        </div>
    </br>
</div>{% endblock%}
